<div class="clear-container-box">
  <h3>Dashboard</h3>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    <li class="breadcrumb-item">Overview</li>
  </ol>
</nav>

<div class="container-box">
  <p>Welcome, <strong>Admin</strong>!</p>
  <br>
  <strong>Last time logged in:</strong>
  {{userLastLoggedIn}}
</div>

<div id="quick-access">
  <article class="container-fluid no-padding">
    <section class="row">
      <div class="col-md-4">
        <a [routerLink]="['../itemlist']">
          <div class='widget-box'>
            <div class="container-fluid no-padding">
              <div class="widget-content">
                <div class="row">
                  <div class="col">
                    <mat-icon class="widget-icon">assignment_outline</mat-icon>
                  </div>
                  <div class="col align-self-center text-right">
                    Item List
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a [routerLink]="['../logs']">
          <div class='widget-box'>
            <div class="container-fluid no-padding">
              <div class="widget-content">
                <div class="row">
                  <div class="col">
                    <mat-icon class="widget-icon">access_time</mat-icon>
                  </div>
                  <div class="col align-self-center text-right">
                    Logs
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a [routerLink]="['../reports']">
          <div class='widget-box'>
            <div class="container-fluid no-padding">
              <div class="widget-content">
                <div class="row">
                  <div class="col">
                    <mat-icon class="widget-icon">insert_chart_outlined</mat-icon>
                  </div>
                  <div class="col align-self-center text-right">
                    Reports
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </section>
  </article>
</div>

<div class="container-box">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="item-description">
      <th mat-header-cell *matHeaderCellDef colspan="2" class="table-searchbar">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="assign-station">
      <th mat-header-cell *matHeaderCellDef colspan="1" class="table-searchbar">
        <div class="container">
          <button class="clear-btn add-btn" (click)="open(assign_station)">
            <mat-icon class="add-btn-icon align-self-center">add_circle_outline</mat-icon>
            Station
          </button>
        </div>
      </th>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let row">
        <button type="button" class="btn btn-outline-primary" (click)="edit(assign_station,row)" style="margin-right: 2px;">Edit</button>
        <button type="button" class="btn btn-outline-danger" (click)="unassignStation(row)">Unassign</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="equip_serial_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Equipment Serial ID </th>
      <td mat-cell *matCellDef="let row"><strong>{{row.equip_serial_id}}</strong></td>
    </ng-container>

    <ng-container matColumnDef="item_condition">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Condition </th>
      <td mat-cell *matCellDef="let row"> {{row.item_condition}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['item-description','assign-station']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 100]"></mat-paginator>
</div>

<ng-template #assign_station let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{btnMsg}} Station Equipment</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <mat-form-field>
        <mat-select placeholder="Room" [(ngModel)]="room" [ngModelOptions]="{standalone: true}" (ngModelChange)="showStations()">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let room of rooms" [value]="room.id">
            {{room.room_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Station" [(ngModel)]="station" [ngModelOptions]="{standalone: true}">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let station of stations" [value]="station.id">
            {{station.station_number}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Equipment" [(ngModel)]="equipment" [ngModelOptions]="{standalone: true}" (ngModelChange)="showEquipment()">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let equipment of equipments" [value]="equipment.id">
            {{equipment.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Equipment Serial ID" [(ngModel)]="equipSerials" [ngModelOptions]="{standalone: true}">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let serial of serials" [value]="serial.id">
            {{serial.serial}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <mat-form-field class="example-full-width">
        <input type="text" id="equipmentSerials" placeholder="Equipment Serial ID" matInput [formControl]="equipmentSerials" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="eqSerial">
          <mat-option *ngFor="let serial of filteredSerial | async" [value]="serial">
            {{serial.serial}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> -->

      <mat-form-field>
        <mat-select placeholder="Condition" [(ngModel)]="condition" [ngModelOptions]="{standalone: true}">
          <mat-option>None</mat-option>
          <mat-option value="Good Condition">
            Good Condition
          </mat-option>
          <mat-option value="Bad Condition">
            Bad Condition
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="postEquipment()">{{btnMsg}}</button>
  </div>
</ng-template>
