<div class="login-container">
  <div class="form-group">
    <form (ngSubmit)="login()">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Admin" type="username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder=". . ." type="password" [(ngModel)]="password"
          [ngModelOptions]="{standalone: true}">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <button mat-flat-button type="submit" class="btn" color="accent">Login</button>
    </form>
  </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-clip-rotate-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
