@import '/../../../styles.scss';

.login-container {
    margin: auto;
    margin-top: 100px;
    height: auto;
    width: 400px;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
}
