<div class="container-box">
  <h5>
    Damage Log
  </h5>
</div>

<div class="container-box">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="item-description">
      <th mat-header-cell *matHeaderCellDef colspan="5" class="table-searchbar"> 
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="inventory_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let row"> {{row.inventory_id}}</td>
    </ng-container>

    <ng-container matColumnDef="equipment_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Equipment </th>
      <td mat-cell *matCellDef="let row"> {{row.equipment_id}} </td>
    </ng-container>

    <ng-container matColumnDef="station_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
      <td mat-cell *matCellDef="let row"> {{row.station_id}} </td>
    </ng-container>

    <ng-container matColumnDef="date_time_log">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date/Time </th>
      <td mat-cell *matCellDef="let row"> {{row.date_time_log}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="['item-description']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 100]"></mat-paginator>
</div>