<nav class="header-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3" style="padding-left: 5px;">
        <div class="header-logo">
          <a [routerLink]="[{ outlets: { 'content': ['dashboard'] } }]">
            <div class="d-flex">
              <div class="header-title align-self-center" style="margin-top: 5px;">
                <span class="think-color">Think</span><span class="logic-color">Logic</span>
              </div>
              <div class="header-divider align-self-center">
                |
              </div>
              <div class="header-subtitle align-self-center">
                <small class="subtitle">Inventory<br>System</small>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-9" style="padding-right: 5px;">
        <div class="container" style="padding-right: 0">
          <div class="d-flex flex-row-reverse">
            <div class="d-flex header-menu">
              <button [matMenuTriggerFor]="menu" class="header-drop-btn">
                <div class="user-img">
                  <img src="../../../assets/img/user.jpg">
                </div>
              </button>
              <mat-menu #menu="matMenu">
                <button class="menu-item" mat-menu-item (click)="logout()">
                  <mat-icon class="nav-icon" style="color:red;">exit_to_app</mat-icon>
                  Logout
                </button>
              </mat-menu>
            </div>
            <div class="user-welcome">
              <p>Welcome, {{userLogged}}!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
