@import '/../../../styles.scss';

.header-container {
  padding: 10px;
  background-color: $header;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 2;
  width: 100%;
  position: fixed;
  top: 0;
}

.think-color {
  color: $think-color;
}

.logic-color {
  color: $logic-color;
}

.header-divider {
  transform: scaleY(1.3);
  font-weight: 500;
  font-size: 2em;
  color: $subtitle-color;
}

.header-logo {}

.header-logo a {
  text-decoration: none;
}

.header-title {
  font-size: 1.5em;
  font-weight: 500;
}

.header-subtitle {
  line-height: 15px;
  font-size: 1em;
}

.subtitle {
  font-weight: 500;
  color: $subtitle-color;
}

.header-menu {}

.header-drop-btn {
  overflow: hidden;
  height: 50px !important;
  width: 50px !important;
  border: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.header-drop-btn:hover {
  box-shadow: 0 0 0 2pt $logic-color;
  transition: .2s ease-in-out;
}

.header-drop-btn:focus {
  box-shadow: 0 0 0 2pt $logic-color;
  transition: .2s ease-in-out;
  outline: none;
}

.menu-item:focus {
  outline: none;
}

.user-img img {
  height: 50px;
  width: auto;
  border-radius: 50%
}

.user-welcome {
  margin-top: 15px;
  margin-right: 15px;
  color: $header-text;
}
