<div class="container-box">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="item-description">
      <th mat-header-cell *matHeaderCellDef colspan="4" class="table-searchbar">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
      <td mat-cell *matCellDef="let row"> {{row.user}} </td>
    </ng-container>

    <ng-container matColumnDef="equipment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Equipment </th>
      <td mat-cell *matCellDef="let row"> {{row.equipment}}</td>
    </ng-container>

    <ng-container matColumnDef="condition">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Condition </th>
      <td mat-cell *matCellDef="let row"> {{row.condition}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['item-description']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 100]"></mat-paginator>
</div>
