<div class="container-box">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="item-description">
      <th mat-header-cell *matHeaderCellDef colspan="4" class="table-searchbar">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="equipment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Equipment </th>
      <td mat-cell *matCellDef="let row"> {{row.equipment}} </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
      <td mat-cell *matCellDef="let row"> {{row.total}}</td>
    </ng-container>

    <ng-container matColumnDef="used_no">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Number of Used  </th>
      <td mat-cell *matCellDef="let row"> {{row.used_no}} </td>
    </ng-container>

    <ng-container matColumnDef="unused_no">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Number of Unused </th>
      <td mat-cell *matCellDef="let row"> {{row.unused_no}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['item-description']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 100]"></mat-paginator>
</div>
