@import '/../../../styles.scss';

.footer-container {
    background-color: $footer;
    padding: 10px;
    right: 0;
    bottom: 0;
    left: 0;
    color: #666;
    margin-left: 200px;
}

.footer-container small {
    margin-left: 15px;
}