@import '/../../../styles.scss';

.sidenav-container {
    background-color: $sidenav;
    position: fixed;
    z-index: 0;
    left: 0;
    overflow-x: hidden;
    height: 100%;
    width: 200px;
    color: $sidenav-text-color;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.sidenav-list {
    margin-top: 15px;
    list-style-type: none;
    padding: 0;
}

.sidenav-list li{
    padding: 10px 0;
    font-size: .85em;
    border-left: 6px solid $sidenav;
}

.sidenav-list li.active {
    background-color: $sidenav-active;
    color: $sidenav-text-color-active;
    box-shadow: none;
    border-left: 6px solid $logic-color;
    box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.10),
}

.sidenav-list li:focus {
    outline: none;
}


.sidenav-list li:hover {
    background-color: $sidenav-hover;
    color: $sidenav-text-color-hover;
    cursor: pointer;
    border-left: 6px solid $header;
}

.nav-icon {
    overflow: inherit;
}

.no-gutters {
    padding-left: 0;
    padding-right: 0;
}