<nav class="sidenav-container">
  <ul class="sidenav-list">
    <li [routerLink]="[{ outlets: { 'content': ['dashboard'] } }]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">
      <div class="d-flex flex-row">
        <div class="p-2">
          <mat-icon class="nav-icon">home_outlined</mat-icon>
        </div>
        <div class="p-2 align-self-center">
          Dashboard
        </div>
      </div>
    </li>
    <li [routerLink]="[{ outlets: { 'content': ['itemlist'] } }]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">
      <div class="d-flex flex-row">
        <div class="p-2">
          <mat-icon class="nav-icon">assignment_outlined</mat-icon>
        </div>
        <div class="p-2 align-self-center">
          Item List
        </div>
      </div>
    </li>
    <li [routerLink]="[{ outlets: { 'content': ['logs'] } }]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">
      <div class="d-flex flex-row">
        <div class="p-2">
          <mat-icon class="nav-icon">access_time</mat-icon>
        </div>
        <div class="p-2 align-self-center">
          Logs
        </div>
      </div>
    </li>
    <li [routerLink]="[{ outlets: { 'content': ['reports'] } }]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">
      <div class="d-flex flex-row">
        <div class="p-2">
          <mat-icon class="nav-icon">insert_chart_outlined</mat-icon>
        </div>
        <div class="p-2 align-self-center">
          Reports
        </div>
      </div>
    </li>
  </ul>
</nav>
