<app-template-header></app-template-header>
<app-template-sidenav></app-template-sidenav>
<div class="content-container">
    <div class="container-fluid">
        <router-outlet name="content"></router-outlet>
    </div>
</div>
<app-template-footer></app-template-footer>
<ngx-spinner bdColor="rgba(51,51,51,1)" size="large" color="#fff64c" type="pacman">
  <p style="font-size: 20px; color: white">Gathering Resources...</p>
</ngx-spinner>
