<div class="clear-container-box">
  <h3>Logs</h3>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Logs</li>
    <li class="breadcrumb-item"><a [routerLink]="[{ outlets: { 'logs': ['damage-log'] } }]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Damage</a></li>
    <li class="breadcrumb-item"><a [routerLink]="[{ outlets: { 'logs': ['availability-log'] } }]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Availability</a></li>
    <li class="breadcrumb-item"><a [routerLink]="[{ outlets: { 'logs': ['station-log'] } }]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Station</a></li>
  </ol>
</nav>

<router-outlet name="logs"></router-outlet>