<div class="clear-container-box">
  <h3>Item List</h3>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Item List</li>
    <li class="breadcrumb-item">Table</li>
  </ol>
</nav>

<div class="container-box">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="item-description">
      <th mat-header-cell *matHeaderCellDef colspan="3" class="table-searchbar">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="add-item">
      <th mat-header-cell *matHeaderCellDef colspan="2" class="table-searchbar">
        <div class="container">
          <button class="clear-btn add-btn" (click)="open(add_item)">
            <mat-icon class="add-btn-icon align-self-center">add_circle_outline</mat-icon>
            Equipment
          </button>
        </div>
      </th>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let row"> 
        <button type="button" class="btn btn-outline-primary" (click)="editEquipment(add_item, row)" style="margin-bottom: 2px;">Edit</button>
        <button type="button" class="btn btn-outline-danger" (click)="removeEquipment(row.serial)">Remove</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="equipment_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Equipment </th>
      <td mat-cell *matCellDef="let row"> {{row.equipment_id}} </td>
    </ng-container>

    <ng-container matColumnDef="specifications">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Specifications </th>
      <td mat-cell *matCellDef="let row"> {{row.specifications}}</td>
    </ng-container>

    <ng-container matColumnDef="serial">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Serial </th>
      <td mat-cell *matCellDef="let row"> <strong>{{row.serial}}</strong> </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let row"> {{row.status}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['item-description','add-item']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 100]"></mat-paginator>
</div>

<ng-template #add_item let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{btnMsg}} Equipment</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <mat-form-field>
        <mat-select id="inputEquipment" placeholder="Equipment" [(ngModel)]="equipment" [ngModelOptions]="{standalone: true}">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let equipment of equipments" [value]="equipment.id" (click)="generateBarcode(equipment.prefix)">
            {{equipment.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Specifications" [(ngModel)]="specs" [ngModelOptions]="{standalone: true}"></textarea>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Serial" [(ngModel)]="serial" [ngModelOptions]="{standalone: true}" disabled>
      </mat-form-field>
    </form>

    <div class="text-center">
      <svg id="barcode"></svg>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="postEquipment(postAction)">{{btnMsg}}</button>
  </div>
</ng-template>