
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tl-inventory-primary: mat-palette($mat-indigo);
$tl-inventory-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tl-inventory-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$tl-inventory-theme: mat-light-theme($tl-inventory-primary, $tl-inventory-accent, $tl-inventory-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($tl-inventory-theme);

/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap-scss/bootstrap.scss";

$header: #232F34;
$header-text: #f9f9f9;
$think-color: #f9f9f9;
$logic-color: #F9AA33;
$logic-color-active: #e0972a;

$subtitle-color: #f9f9f9;

$sidenav: #344955;
$sidenav-active: #25343d;
$sidenav-hover: #25343d;
// $sidenav-icon: ;
// $sidenav-icon-hover: ;

$sidenav-text-color: lightgrey;
$sidenav-text-color-active: white;
$sidenav-text-color-hover: white;

//widget-icon: ;
//widget-icon-hover: ;
$footer: #1f1f1f;


html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #EDF2F6;
  color: #343a40;
  overflow-x: hidden;
}

//Custom Template
.container-box {
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
  padding: 15px;
  border-radius: .25rem;
  margin-bottom: 1rem;
}

.clear-container-box {
  margin-bottom: 1rem;
}

.widget-box {
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
  border-radius: .25rem;
  margin-bottom: 1.5rem;
  overflow: inherit;
  padding: 0;
}

.widget-content {
  border-bottom: 10px solid transparent;
  border-radius: .25rem;
  padding: 12px;
  padding-bottom: 0 !important;
}

.widget-content:hover {
  border-bottom: 10px solid $think-color;
  border-radius: .25rem;
}

.widget-icon {
  font-size: 5rem;
}

//Custom button
.clear-btn {
    border: none;
    background-color: transparent;
    width: 100px;
}

.clear-btn:focus {
    outline: none;
}

.add-btn {
    color: green;
}

.add-btn:hover {
    color: darkgreen;
    cursor: pointer;
}

.add-btn-icon {
    font-size: 2rem;
}

.close:hover {
    color: darkred !important;
}

.close:focus {
    outline: none;
}

//Override Bootstrap

.breadcrumb {
  background-color: white !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
}

.no-padding {
  padding: 0 !important;
}

//Global Table Config
table {
  width: 100%;
  min-height: 791.2px !important;
  text-align: center !important;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.modal {
  z-index: 3 !important;
}

.modal-backdrop{
  z-index: 2 !important;
}

.modal-open {
  padding-right: 0 !important;
}

td,
th {
  width: 25%;
}

mat-cell{
  display:flex !important;
  justify-content:center!important;
  
}

mat-header-cell {
  display:flex !important;
  justify-content:center !important;
}

.mat-sort-header-container {
  text-align: center;
  justify-content: center;
}