<div class="clear-container-box">
  <h3>Reports</h3>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Reports</li>
    <li class="breadcrumb-item"><a [routerLink]="[{ outlets: { 'reports': ['ir'] } }]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Individual Reports</a></li>
    <li class="breadcrumb-item"><a [routerLink]="[{ outlets: { 'reports': ['stock'] } }]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Stock</a></li>
    <li class="breadcrumb-item"><a [routerLink]="[{ outlets: { 'reports': ['condition'] } }]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Condition</a></li>
  </ol>
</nav>

<router-outlet name="reports"></router-outlet>